
    <footer class="py-4 my-3 bg-light">
        <div class="container">
            <small class="text-muted">
                @@2021 ALLDUX – Todos os direitos reservados | <a class="link-secondary" asp-controller="Home" asp-action="PoliticaPrivacidade">Política de Privacidade</a> | <a class="link-secondary" asp-controller="Home" asp-action="TermoResponsabilidade">Termo de Responsabilidade</a>
            </small>
        </div>
    </footer>