<div class="col-auto px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/Fornecedores/Index" class="nav-link align-middle text-white px-0">Cadastro de Fornecedor</a>
            </li>
            <li class="nav-item">
                <a href="/Produto/Index" class="nav-link align-middle text-white px-0">Cadastro de Produto</a>
            </li>
            <li class="nav-item">
                <a href="/Preco/Index" class="nav-link align-middle text-white px-0">Cadastro de Preço</a>
            </li>
        </ul>
    </div>
</div>