<div class="modal fade" id="PoliticaPrivacidade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Política de Privacidade</h5>
        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body text-justify">
        <p><strong>Informações Pessoais</strong><br />
  Ao registrar-se na plataforma, o usuário fornecerá informações pessoais que incluirão, dentre outras, nome, e-mail, telefone e nome da empresa. O ALLDUX garantirá a privacidade do usuário, bem como das informações que ele, usuário, disponibilizar, de acordo com padrões rígidos de segurança e de confidencialidade.</p>
  
  <p>O ALLDUX não venderá ou alugará as informações pessoais do usuário a terceiros, nem as utilizará ou compartilhará de maneira diversa da descrita nesta Política de Privacidade sem o prévio consentimento do usuário.</p>

  <p>Todas as informações disponibilizadas pelos usuários poderão ser coletadas e utilizadas única e exclusivamente pelo ALLDUX. Caso um determinado usuário deseje, seu registro poderá ser excluído ou desativado.</p>

  <p>O ALLDUX somente divulgará as informações do usuário, quando expressamente autorizado pelo próprio; por ordem judicial; ou por força de lei.</p>

  <p>A empresa poderá coletar informações relacionadas ao uso de nossa plataforma através do uso de várias tecnologias. Por exemplo, ao visitá-lo, poderemos registrar certas informações que o navegador do usuário enviar, como endereço de IP, tipo e idioma do navegador, tempo de acesso e endereço de website de encaminhamento. O ALLDUX também poderá coletar informações sobre as páginas que o usuário visualizou na plataforma e outras ações tomadas durante sua visita. A coleta de informações desta forma permite ao ALLDUX coletar estatísticas sobre o uso e eficiência do mesmo.</p>

  <p><strong>Compartilhamento de informações pessoais e transferências</strong><br />
  Podem ocorrer circunstâncias nas quais, seja por estratégia ou por outras razões de negócio, o ALLDUX decida vender, comprar, fundir ou, de alguma outra forma, reorganizar negócios em alguns estados e/ou países. Tal transação pode envolver a divulgação de informações pessoais para compradores prospectivos ou reais, ou o recebimento de tais informações de fornecedores. É prática do ALLDUX buscar a proteção apropriada para informações nestes tipos de transações.</p>

  <p><strong>Uso de Informação Geral</strong><br />
  Os conteúdos (texto, arquivo, imagem) e os aplicativos (programa, sistema) da plataforma do ALLDUX são protegidos pela Lei do Software (a “Lei 9.609/98”) e pela Lei de Direitos Autorais (a “Lei 9.610/98”), sendo vedada modificação, reprodução, armazenamento, transmissão, cópia, distribuição ou qualquer outra forma de utilização, sejam para fins comerciais ou não, sem autorização do ALLDUX.</p>

  <p>O usuário reconhece e concorda que a obtenção e o uso, por parte do ALLDUX, das informações por ele fornecidas, conforme disposto nesta Política de Privacidade, não configura nenhuma violação do direito à privacidade e ao sigilo, do direito de autor, publicidade ou qualquer outro direito relacionado à proteção de informações pessoais. Não obstante, o usuário está ciente de que os direitos de privacidade independem e não se confundem com direitos de propriedade intelectual, direitos de imagem, direitos à honra e reputação e outros direitos da personalidade.</p>

  <p>Tentativas de invasão à plataforma serão tratadas, conforme prescrição legal, como dano, roubo ou qualquer outra tipificação penal prevista no Código Penal Brasileiro ou em outras normas correlatas.</p>

  <p>O ALLDUX poderá alterar a Política de Privacidade, aqui estabelecida, a qualquer tempo, por decorrência da adoção de novas tecnologias, alteração na legislação ou necessidades de segurança e funcionamento da plataforma, e suas eventuais alterações estarão sempre disponíveis, tornando-se válidas a partir da data de sua publicação. Esta Política de Privacidade não revoga nem substitui outros instrumentos contratuais que versem sobre confidencialidade e privacidade e que vinculem o ALLDUX com quaisquer dos usuários, em razão da celebração de parcerias e outros relacionamentos.</p>

  <p><strong>Perguntas sobre privacidade e acesso</strong><br />
  <p>Se possuir uma pergunta sobre esta Política de Privacidade ou sobre a manipulação de suas informações pelo ALLDUX, entre em contato conosco pelo e-mail plataforma@alldux.com.br.</p>

      </div>
      <div class="modal-footer">
        <small>Você será redirecionado para o login.</small>
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <a type="button" class="btn btn-primary" controller="Home" asp-action="Aceite_PoliticaPrivacidade">Aceite</a>
      </div>
    </div>
  </div>
</div>
<script>
    var modal = true;
</script>