<p><strong>Termo de responsabilidade de uso da plataforma</strong></p>

<p>Ao acessar a plataforma do ALLDUX, você concorda automaticamente com os termos e condições de utilização dos
recursos oferecidos e seu funcionamento descrito na Política de Privacidade.</p>

<p><strong>Privacidade</strong><br />
Recomendamos a leitura de nossa Política de Privacidade antes da navegação pelo site.</p>

<p><strong>Acesso com login e senha</strong><br />
O acesso com login e senha é restrito às pessoas com autorização prévia. Cada usuário autorizado é responsável por
seus dados (login e senha) e pela segurança dos mesmos. O ALLDUX não se responsabiliza pelo uso indevido destes,
por você e por terceiros.</p>

<p><strong>Direito à propriedade intelectual</strong><br />
Marcas, nomes comerciais e conteúdos oferecidos de qualquer espécie que estão publicados na plataforma são de
propriedade da empresa e não podem ser reproduzidos sem prévia autorização e respectiva titularidade.</p>

<p><strong>Limitação de responsabilidade</strong><br />
O ALLDUX não poderá ser responsabilizado, em nenhum caso, por quaisquer danos diretos, indiretos, casuais e
especiais relacionados ou derivados desta plataforma ou de seu uso. Esta exclusão e renúncia de responsabilidade se
aplicam a todas as causas de ação.</p>

<p>O ALLDUX se reserva o direito de alterar os termos e condições, bem como os conteúdos da plataforma, a qualquer
momento, sem aviso prévio. Se desejar esclarecer alguma dúvida ou preocupação relativa à privacidade da
plataforma, por favor, entre em contato conosco pelo e-mail <a href="mailto:plataforma@alldux.com.br">plataforma@alldux.com.br</a>.</p>