@{
    ViewData["Title"] = "Cadastrar uma nova senha";
}

<div class="container">
    <div class="mt-5 px-4 pt-5 pb-3 text-center">
        <h1 class="display-6 fw-bold">@ViewBag.Title</h1>
    </div>
    <div class="col-8 offset-2 text-start">
        <div class="row g-3">            

            <div class="text-center">
                <!--<img src="~/img/emailsent.png" alt="forgotpassword" style="max-width: 20%; height: auto">-->
                <p>Por favor, acesse o link no seu e-mail e cadastre uma nova senha.</p>
                <div></div>
                <p><a asp-controller="Account" asp-action="Login">Voltar para o login.</a></p>
            </div>           

        </div>
    </div>   
</div>