@using Microsoft.AspNetCore.Identity;
@model Login

@{
    ViewData["Title"] = "Acesse a Plataforma";
}

<div class="container-login">

<main class="form-signin">
    <form asp-action="Login" method="post">
        <h1 class="h4 mb-3 fw-normal">@ViewData["Title"]</h1>

        <div class="form-floating">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com" />
            <label asp-for="Email" for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="senha" />
            <label asp-for="Password" for="floatingPassword"></label>
        </div>

        <div class="text-danger" asp-validation-summary="All"></div>

        <button class="w-100 btn btn-lg btn-primary bt-entrar" type="submit" id="bt-login">Acessar</button>

        <div class="text-center mt-3">
            <a asp-controller="Account" asp-action="ForgotPassword" class="text-white mt-2">Esqueci minha Senha</a>
        </div>

        <p class="mt-5 mb-3 text-white">Alldux Plataforma</p>
    </form>
</main>
</div>