@{
    ViewData["Title"] = "Confirmação de envio de e-mail";
}

<div class="container">
    <div class="mt-5 px-4 pt-5 pb-3 text-center">
        <h1 class="display-6 fw-bold">@ViewBag.Title</h1>
    </div>
    <div class="col-8 offset-2 text-start">        
        <div class="row g-3">          
            <div class="text-center">                
                <p>E-mail enviado com sucesso.</p>
                <div></div>
                <p><a asp-controller="Account" asp-action="Login">Voltar para a tela de login.</a></p>
            </div>           
        </div>
    </div>   
</div>