@using alldux_plataforma.Models;
@inject UserManager<ApplicationUser> userManager;
@model ApplicationUser


@{ ViewData["Title"] = "Cadastro de Preço"; }

<div class="container-fluid">
    <div class="row flex-nowrap">

        <div class="col-auto px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/Fornecedores/Index" class="nav-link align-middle text-white px-0">Cadastro de Fornecedor</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Produto/Index" class="nav-link align-middle text-white px-0">Cadastro de Produto</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Preco/Index" class="nav-link align-middle text-white px-0">Cadastro de Preço</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col py-3" style="margin-left:20px;">
            <div class="row flex-nowrap">
                <div class="col-6 text-start">
                    <div class="container-fluid mt-3 px-0">
                        <nav aria-label="breadcrumb d-flex text-start">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>


            <div class="row flex-nowrap">
                <div class="col-12 text-start">

                    <form asp-action="Adicionar" method="post">
                        @Html.AntiForgeryToken()
                        <div class="row mb-3 mt-3">

                            <div class="col-12 col-sm-6 text-start">
                                <div class="form-group">
                                    <label class="control-label">Produto</label>
                                    <select class="form-select form-select mb-3" id="SelectProduto" name="Id" required>
                                        <option value="" selected>Selecione o Produto</option>
                                    </select>
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 mb-3">
                                <div class="form-group">
                                    <label class="form-check-label">Data</label>
                                    <input class="form-control" data-val="true" id="Data" name="Data" type="date" />
                                </div>
                            </div>

                            <div class="col-12 col-sm-2 mb-3">
                                <label class="control-label">Valor</label>
                                <input class="form-control" maxlength="15" required />
                                <span class="text-danger"></span>
                            </div>

                            <div class="col-12 col-sm-12 text-start">
                                <div class="form-group mb-3">
                                    <label class="control-label">Titulo</label>
                                    <textarea name="Titulo" id="Titulo" style="width:100%; height:150px; display:block;"></textarea>
                                </div>

                                <div class="mt-1 pt-1 pb-1">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
